@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

nav {
    background-color: #141415;
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    background: #121213;
    height: 80px;
    position: fixed;
    z-index: 1;
}

#menu {
    float: left;
    right: 80px;
    position: fixed;
}

li {
    padding-left: 40px;
    display: inline-block;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    transition: all 0.3s ease-out;
}

.menu-icon {
    animation: showing 0.2s steps(60) 0.1s 1 normal both;
}

#log {
    font-family: 'Open Sans';
    letter-spacing: 1px;
    float: left;
    font-weight: 400;
    margin-left: 80px;
    line-height: 80px;
    user-select: text;
}

#menu > li > a {
    padding: 30px 0px 30px 0px;
    color: #aaa;
    transition: 0.5s color;
    text-decoration: none;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.co2 {
    top: 50%;
}

.copyright {
    position: absolute;
    bottom: 0px;
    color: #ababac;
    font-size: 16px;
    user-select: text;
    font-weight: 500;
    font-family: 'Open Sans';
}

.pc {
    margin-top: 80px;
    width: 100%;
    position: fixed;
    height: 3px;
    background: rgb(41, 41, 41);
}

.pb {
    height: 100%;
    background: #f44;
    width: 0%;
}

#menu > li > a:hover {
    color: #fff;
    transition: 0.5s all;
}

@keyframes showing {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

li > a:before {
    position: absolute;
    content: "";
    width: 0;
    border-bottom: 2px solid #f44;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    bottom: 25px;
}

li > a:hover:before {
    width: 100%;
    left: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 5px;
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.welcome {
    top: -100px;
    color: #ddd;
    font-family: 'Rubik';
    font-size: 50px;
    letter-spacing: 0px;
    transition: letter-spacing 2s;
    animation: showing 0.8s steps(100) 0.4s 1 normal both;
    position: fixed;
}

.bord {
    color: #ddd;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0px;
    transition: letter-spacing 2s;
    animation: showing 0.8s steps(100) 0.4s 1 normal both;
}


.welcome:hover {
    transition: letter-spacing 2s;
    letter-spacing: 20px;
    text-align: center;
}


.welcome:before {
    position: absolute;
    content: "";
    width: 0;
    border-bottom: 3px solid #f45;
    transition: width 1.4s, left 1.4s;
    left: 50%;
    top: 50px;
}

.welcome:hover:before {
    width: 98%;
    left: 0px;
}

.sit {
    top: 44%;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.sites {
    top: 45%;

    transform: translateY(-50%);
    margin-top: 75px;
    position: fixed;
}

.sites > a {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    transition: filter .2s;
    filter: invert(50%);
}

#news, #about, #contacts {
    cursor: not-allowed;
}

.sites > a:hover {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    filter: invert(0%);
    transition: filter .2s;
}


@media (max-width: 768px) {
    .welcome:hover {
        letter-spacing: 0px;
    }
}

@media (max-width: 500px) {
    * {
        zoom: 0.95;
    }
}

.sites {
    margin-top: 100px;
}


.links > div {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #252628;
    transition: letter-spacing 0.5s, background-color 0.5s;
    animation: showing 1.0s steps(100) 0.4s 1 normal both;
}

.links > div > object {

    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    filter: invert(90%);
}


.links > div > a{
    color: #ddd;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 20px;
    margin-top: 14px;
    margin-right: 52px;
    display: flex;
    justify-content: center;
    padding-top: 14px;
}

.dc > object {
    height: 25px !important;
    margin-top: 11px !important;
    margin-left: 19px !important;
}

.tg > object {
    height: 35px !important;
    margin-top: 7px !important;
    margin-left: 17px !important;
}

.links > div:hover {
    transition: letter-spacing 0.5s, background-color 0.5s;
    letter-spacing: 2px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #2b2c30;
    cursor: pointer;
}
